*{ 
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


/* ---------HEADING START--------- */

.header{
  width: 100%;
  height: 400px;
  margin: auto;
  background-color: black;
  max-height: 600px;
}

.main-Header{
  width: 80%;
  height: 100%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  color:white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
}

.headerImg{
  width: 85%;
  margin-left: 15px;
}

.headerText{
  text-align: left;
  
}

@media only screen and (min-width: 600px) {
  .header{
    display: flex;

  }

  .main-Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1250px;
  }

  .headerImg{
    
    width: 388px;
    height: auto;
    object-fit: contain;
    
  }

}

/* ---------HEADING END--------- */

/* ---------ABOUT ME START--------- */
.aboutMe{
  width: 100%;
  margin: auto;
  background-color: #313131;
}

.aboutMeContainerMobile{
  width: 80%;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px){
  .aboutMeContainerMobile{
    display: block;
  }

  .cvButton{
    background-color: #313131;
    border: 2px solid red;
    border-radius: 8px;
    color: white;
    width: 100px;
    margin-bottom: 12px;
    position: absolute;
    right: 60px;
    bottom: -524px;
  }

  .aboutMeContainer{
    display: none;
  }
}

@media only screen and (min-width: 600px){
  .aboutMeContainerMobile{
    display: none;
  }

  .cvButton{
    background-color: #313131;
    border: 2px solid red;
    border-radius: 8px;
    color: white;
    width: 100px;
    margin-bottom: 12px;
    position: absolute;
    right: 60px;
    bottom: -524px;
  }

  .aboutMeContainer{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 20px 0;
    max-width: 1250px;
  }

  .text-box{
    width: 600px;

  }
}

.accent{
  width: 100px;
  height: 5px;
  background-color: red;
  margin-bottom: 12px;
}

.aboutMe h2{
  padding-top: 12px;
  color: white;
}

.aboutMe p{
  color: white;
}

.imgContainer{
  height: 300px;
  width: 300px;
  background-image: url('http://cdn.shopify.com/s/files/1/2440/7149/products/MH-052_600x.jpg?v=1579885500');
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;;
}

.aboutMeImage{
  width: 115%;
}

.cvButton{
  background-color: #313131;
  border: 2px solid red;
  border-radius: 8px;
  color: white;
  width: 100px;
  margin-bottom: 12px;
  position: unset;
}

.text-box{
  position: relative;
}

/* ---------ABOUT ME END--------- */



/* ---------PROJECTS START--------- */

@media only screen and (min-width: 600px){

.project-container{
  display: flex;
  flex-wrap: wrap;
}

.projectContainerMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 55px;
}

.project-container{
  max-width: 950px;
}


}


.project{
  width: 100%;
  margin: auto;
  background-color: black;
}

.projectContainerMain{
  width: 80%;
  margin: auto;
  max-width: 1189px;
}


.project h2{
  color: white;
  padding-top: 12px;
}

.project-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-Box{
  width: 250px;
  height: 200px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(98,98,98,1) 59%, rgba(111,111,111,1) 100%);
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
}

.projects-Box h4{
  font-size: 2.5em;;
  color:white;
}

.projects-Box h6{
  color:white;
}

.project-text{
  position: absolute;
  bottom: 0px;
}



/* ---------PROJECTS END--------- */

/* ---------CONTACT ME START--------- */

/* ---------CONTACT ME END--------- */


.fa-github{
  width: 50px;
  height: 50px;
}